<a href="https://colab.research.google.com/github/ephantusGachomba/AUTOLIB--service-car-company-/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2019_06_Ephantus_Gachomba_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.0 Importing our Libraries

In [ ]:
# Importing the libraries we will need 
# Importing the pandas library
import pandas as pd

# Importing the numpy library
import numpy as np

## 1.1 Reading the Dataset from our CSV file

In [ ]:
# Let's read the data from the CSV file and create the dataframe to be used


df_Autolib = pd.read_csv('/content/Autolib_dataset (2).csv')

### Modifying the time and the YYYY-MM-DD

In [ ]:
df_Autolib['date'] = pd.to_datetime(df_Autolib[['year' , 'month' , 'day' , 'hour' , 'minute']])

## 1.2 Previewing our Dataset

In [ ]:
# Let's preview the first 5 rows of our data
df_Autolib.head(5)

                              Address  Cars  ...  minute                date
0                 2 Avenue de Suffren     0  ...      43 2018-04-08 11:43:00
1           145 Rue Raymond Losserand     6  ...      24 2018-04-06 07:24:00
2    2 Avenue John Fitzgerald Kennedy     3  ...      14 2018-04-03 20:14:00
3              51 Rue EugÃ¨ne OudinÃ©     3  ...      37 2018-04-04 04:37:00
4  6 avenue de la Porte de Champerret     3  ...      23 2018-04-08 17:23:00

[5 rows x 26 columns]

In [ ]:
#Adding a column of 'resources' in the df_Autolib
df_Autolib['resources'] = df_Autolib['Bluecar counter'] + df_Autolib['Utilib counter'] + df_Autolib['Utilib 1.4 counter'] + df_Autolib['Charge Slots']
df_Autolib.head(3)

                            Address  Cars  ...                date  resources
0               2 Avenue de Suffren     0  ... 2018-04-08 11:43:00          0
1         145 Rue Raymond Losserand     6  ... 2018-04-06 07:24:00          6
2  2 Avenue John Fitzgerald Kennedy     3  ... 2018-04-03 20:14:00          5

[3 rows x 27 columns]

## 1.3 Accessing Information about our Dataset

We might need to convert columns to the respective datatypes ie. if there are payment columns we could convert them from string to float. This observation can be made by accessing information about the dataset.

In [ ]:
# Getting to know more about the dataset by accessing its information
df_Autolib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
 25  date                 5000 non-null   datetime64[ns]
 26  resources            5000 non-null   int64
dtypes: datetime64[ns](1), int64(13), object(13)
memory usage: 1.0+ MB

In [ ]:
#No of unique ID in the dataset
list_Stations = list(df_Autolib['ID'].unique())

count = 0
for c in list_Stations:
  count += 1
count

1105

In [ ]:
#No of unique city in the dataset
list_city = list(df_Autolib['City'].unique())

count = 0
for c in list_city:
  count += 1
count

88

## 1.4 Cleaning our Dataset

Let us perform data cleaning procedures below providing a documentation for our actions. We will perform as many data cleaning procedures as we think suitable for the various dimensions of data.

### 1.41) Validity: <font color="green">Challenges</font>

In [ ]:
# Procedure 1:Irrelevant data observation
# Data Cleaning Action:Drop 'Displayed comment' ,'Geo point','Scheduled at'
# Explanation:we won't require it during analysis

df_Autolib.drop(['Displayed comment' ,'Geo point','Scheduled at'] , axis = 1 , inplace = True)

In [ ]:
# Procedure 2:Duplicate data observation
# Data Cleaning Action:Drop 'Address','Public name',Retain 'ID'
# Explanation:The the columns give similar information. we therefore retain ID since it has a well structured format

df_Autolib.drop(['Address','Public name'], axis = 1 , inplace = True)

In [ ]:
# Procedure 3:Irrelevant columns
# Data Cleaning Action:Drop 'year' , 'month' , 'day' , 'hour' , 'minute'
# Explanation:We combine using pd.datetime

df_Autolib.drop(['year' , 'month' , 'day' , 'hour' , 'minute'], axis = 1 , inplace = True)

In [ ]:
# Procedure 4:Duplicate columns
# Data Cleaning Action:Drop 'Cars' Retain 'Bluecar counter'
# Explanation:'Cars' has the same value with 'Bluecar counter' .In order to reduce no. of columns we drop it.

df_Autolib.drop(['Cars'] , axis = 1 , inplace = True)

In [ ]:
#randomly check data values
df_Autolib.take(np.random.permutation(len(df_Autolib))[:5])

      Bluecar counter  Utilib counter  ...                date  resources
1460                2               0  ... 2018-04-03 12:56:00          2
3222                1               2  ... 2018-04-06 21:13:00          3
4441                2               0  ... 2018-04-07 11:18:00          3
2894                1               0  ... 2018-04-05 06:51:00          2
4516                3               0  ... 2018-04-05 14:20:00          3

[5 rows x 16 columns]

### 1.42) Accuracy <font color="green">Challenges</font>

In [ ]:
# Procedure 1:check ranges for Blue Car 
# Data Cleaning Action: drop column whose value is not in that range
# Explanation:Blue car counter  ranges from 0 to 7

Bluecar_range = list(range(0,8))
df_Autolib[~df_Autolib['Bluecar counter'].isin(Bluecar_range)]

Empty DataFrame
Columns: [Bluecar counter, Utilib counter, Utilib 1.4 counter, Charge Slots, Charging Status, City, ID, Kind, Postal code, Rental status, Slots, Station type, Status, Subscription status, date, resources]
Index: []

In [ ]:
# Procedure 2:Check ranges for utilib counter
# Data Cleaning Action:check wether all values lie within the range
# Explanation:utilib lies between 0 and 4

Utilib_range = list(range(0,5))
df_Autolib[(~df_Autolib['Utilib counter'].isin(Utilib_range))]

Empty DataFrame
Columns: [Bluecar counter, Utilib counter, Utilib 1.4 counter, Charge Slots, Charging Status, City, ID, Kind, Postal code, Rental status, Slots, Station type, Status, Subscription status, date, resources]
Index: []

In [ ]:
# Procedure 3:
#Check Utilib 1.4 counter is in range 0 to 5
Utilib14_range = list(range(0,6))
df_Autolib[(~df_Autolib['Utilib 1.4 counter'].isin(Utilib14_range))]

Empty DataFrame
Columns: [Bluecar counter, Utilib counter, Utilib 1.4 counter, Charge Slots, Charging Status, City, ID, Kind, Postal code, Rental status, Slots, Station type, Status, Subscription status, date, resources]
Index: []

In [ ]:
# Procedure 4:
#check slots range is btw 0 and 7
slots_range = list(range(0,8))
df_Autolib[(~df_Autolib['Slots'].isin(slots_range))]

Empty DataFrame
Columns: [Bluecar counter, Utilib counter, Utilib 1.4 counter, Charge Slots, Charging Status, City, ID, Kind, Postal code, Rental status, Slots, Station type, Status, Subscription status, date, resources]
Index: []

In [ ]:
# Procedure 5:check the 'kind' for accuracy
# Data Cleaning Action:check no 'CENTER' has above 0 'resources' otherwise drop it
# Explanation:the 'CENTER' kind has no resources at all.Ensure resource == 0

df_Autolib[(df_Autolib['Kind']=='CENTER') & (df_Autolib['resources']!=0)]

Empty DataFrame
Columns: [Bluecar counter, Utilib counter, Utilib 1.4 counter, Charge Slots, Charging Status, City, ID, Kind, Postal code, Rental status, Slots, Station type, Status, Subscription status, date, resources]
Index: []

In [ ]:
# Procedure 6:checking the 'kind' for accuracy
# Data Cleaning Action:check 'parking' has 'no charge slot' but can have blue cars and utilib
# Explanation:parking has no charge slots

df_Autolib[(df_Autolib['Kind']=='PARKING') & (df_Autolib['Charge Slots']!=0)]

Empty DataFrame
Columns: [Bluecar counter, Utilib counter, Utilib 1.4 counter, Charge Slots, Charging Status, City, ID, Kind, Postal code, Rental status, Slots, Station type, Status, Subscription status, date, resources]
Index: []

In [ ]:
# Procedure 7:No 'future' value in 'Subscription status'
df_Autolib['Subscription status'].unique()

array(['nonexistent', 'operational', 'broken'], dtype=object)

### 1.43) Completeness <font color="green">Challenges</font>

In [ ]:
# Procedure 1:
# Data Cleaning Action:check for any missing values in the dataset
# Explanation:
#
df_Autolib.isnull().sum().sum()

0

### 1.44) Consitency: <font color="green">Challenges</font>

In [ ]:
# Procedure 1:check for duplicates
# Data Cleaning Action:drop any duplicates available

df_Autolib = df_Autolib.drop_duplicates()

### 1.45) Uniformity: <font color="green">Challenges<font/>

In [ ]:
df_Autolib.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bluecar counter      5000 non-null   int64
 1   Utilib counter       5000 non-null   int64
 2   Utilib 1.4 counter   5000 non-null   int64
 3   Charge Slots         5000 non-null   int64
 4   Charging Status      5000 non-null   object
 5   City                 5000 non-null   object
 6   ID                   5000 non-null   object
 7   Kind                 5000 non-null   object
 8   Postal code          5000 non-null   int64
 9   Rental status        5000 non-null   object
 10  Slots                5000 non-null   int64
 11  Station type         5000 non-null   object
 12  Status               5000 non-null   object
 13  Subscription status  5000 non-null   object
 14  date                 5000 non-null   datetime64[ns]
 15  resources            5000 non-null   int64
dtypes: datetime64[ns](1), int64(7), object(8)
memory usage: 664.1+ KB

In [ ]:
df_Autolib['Postal code'].unique()

array([75015, 75014, 93350, 75013, 75017, 75011, 92000, 75009, 75005,
       92800, 92260, 78150, 92150, 78000, 92240, 75007, 75010, 92130,
       75006, 75018, 75004, 75020, 92210, 92310, 95870, 94130, 75016,
       94000, 94800, 92500, 75012, 92390, 75003, 93100, 75019, 94220,
       92400, 92600, 92380, 75001, 93700, 92250, 91370, 93150, 75002,
       92170, 75008, 95880, 92330, 92300, 92100, 92290, 93500, 92190,
       92230, 94300, 94150, 92700, 94120, 93110, 92340, 94230, 94700,
       91570, 94140, 94500, 93600, 93200, 92350, 93310, 92140, 92220,
       92270, 78280, 93170, 92420, 94450, 94410, 93230, 78140, 94110,
       75116, 93400, 92360, 92410, 95100, 93130, 94160, 92200, 93390,
       93370, 92160, 93800, 92320, 91330, 93440, 94340, 93360, 92110,
       75112, 92120, 94370, 92370, 91400, 93260, 94100, 93300])

### Grouping our data according to city

In [38]:
#Grouping helps us compute the pick and return of a car
df_group = df_Autolib.groupby(['ID'])['ID' ,'City' ,'Kind' ]
df_group.head(5)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                                       ID                 City     Kind
0                         paris-suffren-2                Paris  STATION
1              paris-raymondlosserand-145                Paris  STATION
2       lebourget-johnfitzgeraldkennedy-2           Le Bourget  STATION
3                   paris-eugeneoudine-51                Paris  STATION
4               paris-portedechamperret-6                Paris  PARKING
...                                   ...                  ...      ...
4993  leplessisrobinson-charlesdegaulle-6  Le Plessis-Robinson  STATION
4995                 colombes-menelotte-8             Colombes  STATION
4996                     paris-dantzig-37                Paris  STATION
4998     fontenaysousbois-valdefontenay-2   Fontenay-Sous-Bois  STATION
4999                 paris-henrybrisson-5                Paris  STATION

[4331 rows x 3 columns]

### Exporting the Cleaned Dataset

In [40]:
#exporting our cleaned dataset
df_Autolib.to_csv('Clean_Autolib.csv')

## 1.5 Getting Insights from cleaned data / Answering Questions

In [41]:
df_Autolib.head(5)

   Bluecar counter  Utilib counter  ...                date  resources
0                0               0  ... 2018-04-08 11:43:00          0
1                6               0  ... 2018-04-06 07:24:00          6
2                3               0  ... 2018-04-03 20:14:00          5
3                3               1  ... 2018-04-04 04:37:00          5
4                3               0  ... 2018-04-08 17:23:00          3

[5 rows x 16 columns]

In [46]:
# Challenge 1
#Identify the most popular hour of the day for picking up a shared electric car (Bluecar)
# in the city of Paris over the month of April 2018
df_Autolib[(df_Autolib['Bluecar counter'] > 0) & (df_Autolib['date']!=df_Autolib['date'].max())]
#DateTime latest = dateTimes.Max();

      Bluecar counter  Utilib counter  ...                date  resources
1                   6               0  ... 2018-04-06 07:24:00          6
2                   3               0  ... 2018-04-03 20:14:00          5
3                   3               1  ... 2018-04-04 04:37:00          5
4                   3               0  ... 2018-04-08 17:23:00          3
7                   3               1  ... 2018-04-04 22:13:00          4
...               ...             ...  ...                 ...        ...
4995                2               0  ... 2018-04-06 11:26:00          2
4996                4               0  ... 2018-04-04 16:56:00          5
4997                1               0  ... 2018-04-01 07:01:00          2
4998                2               0  ... 2018-04-04 17:27:00          2
4999                4               0  ... 2018-04-08 10:02:00          4

[3553 rows x 16 columns]

In [ ]:
# Challenge 2
# What is the most popular hour for returning cars?

In [47]:
# Challenge 3
# What station is the most popular?
    #Overall?
df_Autolib[(df_Autolib['Station type'] == df_Autolib['Station type'].max())]

    #At the most popular picking hour?

      Bluecar counter  Utilib counter  ...                date  resources
2038                0               0  ... 2018-04-09 02:02:00          0
3985                0               0  ... 2018-04-02 13:28:00          0
4053                0               0  ... 2018-04-04 05:01:00          0

[3 rows x 16 columns]

In [64]:
# Challenge 4
# What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?
      #Overall?
      #At the most popular picking hour?


df_Autolib_4 = df_Autolib.groupby('Postal code')['Postal code' '', 'Bluecar counter'].sum()
df_Autolib_4['Bluecar_rank'] = df_Autolib_4['Bluecar counter'].rank(ascending = 1)
df_Autolib_4[(df_Autolib_4['Bluecar_rank']==df_Autolib_4['Bluecar_rank'].max())]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  import sys

             Postal code  Bluecar counter  Bluecar_rank
Postal code
75015           20554110              609         107.0

In [70]:
df_Autolib[(df_Autolib['Postal code']==75015)][['Postal code' , 'Kind' , 'Station type']].head(3)

    Postal code     Kind Station type
0         75015  STATION      station
6         75015  PARKING      station
18        75015  PARKING      station

In [73]:
# Challenge 5
# Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars? 

df_Autolib_5 = df_Autolib.groupby('Postal code')['Postal code' , 'Utilib counter'].sum()
df_Autolib_5['Utilib_rank'] = df_Autolib_5['Utilib counter'].rank(ascending = 1)
df_Autolib_5[(df_Autolib_5['Utilib_rank']==df_Autolib_5['Utilib_rank'].max())]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  after removing the cwd from sys.path.

             Postal code  Utilib counter  Utilib_rank
Postal code
75015           20554110              20        106.0
75016           17703776              20        106.0
75017           16578757              20        106.0